/**
 * We support IE8+ only, so we could use the border-box model
 * see http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}
/* pictures */
img {
  height: auto;
  vertical-align: middle;
}

body {
  max-width: 50em;
  padding: 0 1em;
  margin: auto;
  font-size: 1em;
  color: #111;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  line-height: 1.4;
  background: #fafafa url(../img/duchesse_mini.svg) 95% bottom no-repeat;
}
@media (min-width: 480px) {
  body {
    background-position: 75% bottom;
  }
}

a,
a:link,
a:visited {
  color: #111;
}
a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  background-color: #efe419;
}


header {
  text-align: center;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 2em solid #efe419;
}
header img {
  width: 200px;
}
header h1 {
  font-size: 2em;
  margin: 0;
}


.main {}


footer {
  padding: 2em 0;
  margin-top: 2em;
  border-top: 2em solid #efe419;
}
footer h2 {
  margin-top: 0;
}
footer dt {
  float: left;
  min-width: 5em;
  padding-right: 1em;
  text-align: right;
}
footer dd {}
footer dd a {
  color: #111;
}